.interestsPage {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  color: white;
  padding: 10px 10px 10px 10px;
}

.interestsPicture {
  width: 80px;
  margin: 0px 5px 0px 5px;
}

.interestsPage h1 {
  text-align: center;
}
